html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.sidebar{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: fixed;
    left: -250px;
    height: 100%;
    width: 250px;
    background: #df1e63;
    transition: all .7s ease;
}

.sidebar header{
    font-family: monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #202225;
    padding-left: 55px;
    line-height: 140px;
    background: #df1e63;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 17px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
}

#check{
    display:none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}

label #btn{
    left: 30px;
    top: 25px;
    font-size: 30px;
    color: #202225;
    transition: all .7s;
    position: fixed;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 25px;
    font-size: 30px;
    transition: all .7s ease;
    position: fixed;
}

#check:checked ~ .sidebar{
    left: 0;
    padding-top: 10px;
}

#check:checked ~ label #btn{
    color: #df1e63;
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

.sidebar ul li:hover a{
    color: #202225;
    transform: scale(1.025);
    user-select: none;
}

.sidebar ul a{
    margin-left: 16px;
}

#connected{
    font-size: 17px;
    color: #fff;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 100px;
    font-family: monospace;
    text-transform: uppercase;
}

#my-email{
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    color: #202225;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 100px;
}

#my-email li:hover{
    transform: scale(1.015);
    font-weight: bold;
    color: #fff;
}

#social-media li{
    display: inline;
    color: gray;
}

#social-media a{
    color: gray;
}

#social-media a:hover{
    color: #df1e63;
}

#social-media{
    padding-top: 30px;
    user-select: none;
    height: 130px;
}

.socials a:hover{
    transform: scale(1.0155);
}

/* Body of Page Here */

.container{
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#welcome-message{
    word-spacing: 3px;
    letter-spacing: 1.5px;
    padding-top: 290px;
    font-size: 30px;
    text-align: right;
    padding-right: 0;
    text-transform: uppercase;
    height: 160vh;
}

#navbar{
    width: 100%;
    height: 50px;
    overflow: hidden;
}

#navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#navbar li{
    display:inline;
}

#navbar a{
    color: #df1e63;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

#navbar a:visited{
    color: #df1e63;
}

#navbar a:active{
    color: #df1e63; 
}

#navbar a:hover{
    color: #fff;
}

#navbar ul li .current{
    color: #fff;
}

.sidebar ul li .currentsb{
    color: #202225;
}

.logo {
    float: right;
    letter-spacing: 4px;
    color: #df1e63;
    font-weight: bold;
    user-select: none;
    font-family:monospace;
    font-size: 15px;
    text-transform: uppercase;
}

.logo:hover{
    color: #fff; 
}
#main-header{
    padding-bottom: 0px;
    height: 80px;
    background: #323438;
    width: 100%;
    position: fixed;
}

span:before{
    text-align: center;
    font-family: monospace;
    font-weight:100;
    color: #df1e63;
    content: '';
    animation: animate infinite 10s;
    
}
@keyframes animate{
    0%{
        content: 'Welcome!';
    }
    20%{
        content: 'Learning HTML/CSS was extremely fun!';
    }
    40%{
        content: 'I enjoyed this project a lot.';
    }
    60%{
        content: 'Thank you so much for teaching me Java!';
    }
    80%{
        content: 'Have a great summer, Mr. Swift!';
    }
    100%{
        content: 'Scroll down ↓';
    }
}

.up{
    position: fixed;
    width: 40px;
    height: 40px;
    background: #323438;
    bottom: 40px;
    right: 40px;
        
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 14px;
    
}

#about-message{
    padding-top: 230px;
    font-size: 30px;
    text-align: center;
    padding-right: 80px;
    text-transform: uppercase;
    background-image:url('../images/strawberries.jpg');
    background-position:center;
    min-height:300px;
    margin-bottom:30px;
    text-align: center;
}

.about{
    font-family: monospace;
    letter-spacing: 5px;
    
    color: #fff;
}

.about:hover{
    color: #df1e63;
}

.about-info{
    line-height: 25px;
    text-align: left;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 200px;
    padding-right: 200px;
}

/* Boxes (1) Starts Here */

.boxes{
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.boxes .box{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 15px;
    text-align: center;
    overflow: hidden;
}

.boxes .box .img,
.boxes .box .img2,
.boxes .box .img3{
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/pom1.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
}

.boxes .box .img2{
    background: url('../images/pom2.png');
}

.boxes .box .img3{
    background: url('../images/pom3.png');
}

.boxes .box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.boxes .box .overlay2{
    position: absolute;
    top: 0;
    left: -150%;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: skewX(-30deg);
    transition: .5s;
}

.boxes .box:hover .overlay2{
   left: -10%;
}

.boxes .box .text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-sizing: border-box;
    padding: 25px;
    z-index: 1000;
    text-shadow: 5px 5px 10px black;
}

.boxes .box .text h2{
    position: relative;
    font-family: monospace;
    color: #df1e63;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
    opacity: 0;
    transition: .5s;
    transition-timing-function: linear;
    transform: translateY(-10px);
}

.boxes .box:hover .text h2{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.5s;
}

.boxes .box .text p{
    line-height: 1.2;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
    transition-timing-function: linear;
}

.boxes .box:hover .text p{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.6s;
}

/* Boxes 2 Starts Here */

.boxes2{
    position: absolute;
    top: 158%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.boxes2 .box{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 15px;
    text-align: center;
    overflow: hidden;
}

.boxes2 .box .img4,
.boxes2 .box .img5,
.boxes2 .box .img6{
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/pom4.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
}

.boxes2 .box .img5{
    background: url('../images/pom5.png');
}

.boxes2 .box .img6{
    background: url('../images/pom6.png');
}

.boxes2 .box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.boxes2 .box .overlay2{
    position: absolute;
    top: 0;
    left: -150%;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: skewX(-30deg);
    transition: .5s;
}

.boxes2 .box:hover .overlay2{
   left: -10%;
}

.boxes2 .box .text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-sizing: border-box;
    padding: 25px;
    z-index: 1000;
    text-shadow: 5px 5px 10px black;
}

.boxes2 .box .text h2{
    position: relative;
    font-family: monospace;
    color: #df1e63;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
    opacity: 0;
    transition: .5s;
    transition-timing-function: linear;
    transform: translateY(-10px);
}

.boxes2 .box:hover .text h2{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.5s;
}

.boxes2 .box .text p{
    line-height: 1.2;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
    transition-timing-function: linear;
}

.boxes2 .box:hover .text p{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.6s;
}



@media(max-width:600px){
    #welcome-message{
        width: 100%;
        float: none;
    }
    #navbar{
        width: 100%;
        float: none;
    }
    .boxes{
        width:100%;
        float: none;
    }
    .boxes2{
        width: 100%;
        float: none;
    }
}